# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0b248838c79555df701ed2b70afc6d171afb5e794fc136089ad75afcbe75bfa059fd40956f13ed63e588c1a197d06dc680e0fe559b17ba6b5ee25178f56d1628

test:
  secret_key_base: f9459e96e3a4aaa64eb3ad3ebe9682e6420f39e2da63b6d713ab23d00dfb01629ece3fe3022887219d87629014d2c6581cbb2e7c014927e8b8d6a517a7757b04

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
