<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-4">
      <div class="thumbnail material-card">
        <header class="material-card__header">
          <img src="https://c2.staticflickr.com/6/5562/14598452558_caac5c476a_b.jpg" class="material-card__img" alt="Thumbnail label"/>
        </header>
        <div class="material-card__content">
          <h3 class="material-card__title">Thumbnail label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, nihil, ullam itaque id dignissimos fugiat ducimus. Et, alias, magni, quia deserunt amet quod tempore ab ipsam veniam aliquid ducimus sapiente.</p>
        </div>
        <footer class="material-card__footer">
          <a href="#0" class="btn material-btn material-btn_success material-card__showmore material-btn_sm">Show more</a>
        </footer>
      </div>
    </div>
    <div class="col-sm-8 col-md-4">
      <div class="thumbnail material-card">
        <header class="material-card__header">
          <img src="https://c2.staticflickr.com/4/3906/14317125527_21cfeb38d6_b.jpg" class="material-card__img" alt="Thumbnail label"/>
        </header>
        <div class="material-card__content">
          <h3 class="material-card__title">Thumbnail label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, nihil, ullam itaque id dignissimos fugiat ducimus. Et, alias, magni, quia deserunt amet quod tempore ab ipsam veniam aliquid ducimus sapiente.</p>
        </div>
        <footer class="material-card__footer">
          <a href="#0" class="btn material-btn material-btn_success material-card__showmore material-btn_sm">Show more</a>
        </footer>
      </div>
    </div>
    <div class="col-sm-8 col-md-4">
      <div class="thumbnail material-card">
        <header class="material-card__header">
          <img src="http://demo.themepoetry.com/big-shot/wp-content/uploads/2014/01/desktop.jpg" class="material-card__img" alt="Thumbnail label"/>
        </header>
        <div class="material-card__content">
          <h3 class="material-card__title">Thumbnail label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, nihil, ullam itaque id dignissimos fugiat ducimus. Et, alias, magni, quia deserunt amet quod tempore ab ipsam veniam aliquid ducimus sapiente.</p>
        </div>
        <footer class="material-card__footer">
          <a href="#0" class="btn material-btn material-btn_success material-card__showmore material-btn_sm">Show more</a>
        </footer>
      </div>
    </div>
  </div>
</div> 